<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ title }}
                        <div *ngIf="loadding" class="spinner-border text-info float-end m-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createEmployee.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGARIOS</span>
                    <form class="mt-4" [formGroup]="createEmployee" (ngSubmit)="addEmployee()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-3" formControlName="documento" placeholder="Documento">
                        <input type="number" class="form-control form-control-lg mt-3" formControlName="salario" placeholder="Salario">
                        <button type="text" class="btn btn-secondary btn-lg me-3" routerLink="/listEmployee">Volver</button>
                        <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>