/* You can add global styles to this file, and also import other style files */

body {
    /* como queremos que se vea mas opaco, se usa de la siguiente manera */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/forest.jpg');
    /* background-image: url('./assets/forest.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
